[submodule "Alice"]
	path = Alice
	url = https://github.com/hananiahhsu/Alice.git
	branch = main
[submodule "ToolChain"]
	url = https://github.com/ToshihideMaskawa/ToolChain.git
	path = ToolChain
	branch = main
